/*
*
* Copyright (c) 2024 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define HOM_L 0  
/ {

    combos {
        compatible = "zmk,combos";
        combo_bksp {
            timeout-ms = <50>;
            require-prior-idle-ms = <200>;
            key-positions = <25 26>;
            bindings = <&kp DEL>;
        };
    };  

    macros {
        alt_f: alt_f {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp F>
                , <&macro_release &kp RALT>
                ;
        };
        alt_g: alt_g {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp G>
                , <&macro_release &kp RALT>
                ;
        };
        alt_q: alt_q {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp Q>
                , <&macro_release &kp RALT>
                ;
        };
        alt_w: alt_w {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp W>
                , <&macro_release &kp RALT>
                ;
        };
        alt_v: alt_v {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp V>
                , <&macro_release &kp RALT>
                ;
        };
        alt_b: alt_b {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp B>
                , <&macro_release &kp RALT>
                ;
        };
    };



    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            label = "Qwerty";
             bindings = <
            // ╷           ╷      TOTEM     ╷      TOTEM     ╷     TOTEM      ╷      TOTEM     ╷     TOTEM     ╷   ╷      TOTEM     ╷   TOTEM        ╷      TOTEM     ╷           ╷           ╷           ╷
            
&none    &none    &none    &none    &none              &none    &none    &none    &none    &none  
&none    &none    &none    &none    &none              &none    &none    &none    &none    &none    &none    &none     
&none    &none    &none    &none    &none              &none    &none    &none    &none    &none    
&none    &none    &none          &none    &none    &none    
                                    >;
        };

    };
};
